* {
    box-sizing: border-box;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}	
body {
    font-family: 'Lato', sans-serif;
    background-color: gainsboro;
}
header {
    width:100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color:white;
    background-color: darkmagenta;
}

header h1 {
    font-family: 'Lemonada', cursive;
    font-size: 2.5em;
    margin:0px;
}
header h4 {
    font-family: 'Architects Daughter', cursive;
    font-size: 1.6em;
    margin-top:0px;
    margin-bottom:5px;
}

.nav a {
    margin:0px;
    font-family:verdana;
    text-decoration:none;
    text-align:center;
    padding:10px 20px;
}
/* Falta formateig de nav, per hover i tal */
span.gat {
    border: 1px solid honeydew; 
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
    padding:20px;
    background-color: honeydew;
    display: block;
}
span.gat h3 {
    text-align: center;
}
span.gat img {
    position: relative;
    border-radius: 5px;
}
span.gat .descripcio {
    //float:right;
    top:10px;
}
.formulari {
    line-height: 1.8;
}
fieldset {
    border: 2px solid purple;
    border-radius: 5px;
    background-color: #ffccff;
}
footer {
    width: 100%;
    text-align: center;
    padding: 20px;
    color:white;
    background-color: slateblue;
}

footer p {
    //font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    margin:0px; 
}
	/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}